body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url("https://th.bing.com/th/id/R.6a1aa752305190a282091f1fcd6d2ff9?rik=yBdqOLJXo32k%2fQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fChrEBl8.jpg&ehk=hV2bOkLl%2bDRdNcqgS2daIxquQhWh3HN%2bJkn1Sq7SC34%3d&risl=&pid=ImgRaw&r=0")
    rgba(0, 0, 0, 0.61);
  }
  .cont {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    background: url("https://i.pinimg.com/originals/82/24/ed/8224ed0ffaec2965fd83c1c5d53693f6.jpg")
  rgba(228, 90, 90, 0.61);
background-blend-mode: normal;
box-shadow: 0 0 15px rgb(255, 255, 255);
margin-bottom: 50px;

}

.image {
  margin-top: 20px;
    width: 200px;
    height: 200px;
}

.details {
    margin-left: 40px;
    color: red;
 font-weight: bold;
}

.slideshow {
    width: 40%;
    height: 200px;
    margin: auto;
    margin-top: 20px;
}

.slideshow>img {
    width: 100%;
    height: 100%;
}
 
  .topnav {
      align-content: flex-end;
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
      align-content: flex-end;
    
    color: white;
  }